@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');


/* GERENERAL RULES */
:root {
    --mobile-header-height : 15vh;
    --computer-header-height : 12vh;
    --mobile-page-width : 90%;
    --computer-page-width : 1100px;
}

body {
    margin:0;
    padding: 0;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5em;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: lighter;
    text-align: center;
    line-height: 6vh;
}

h5 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5em;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: lighter;
    text-align: center;
    line-height: 6vh;
}

a:visited {
    text-decoration: none;
}

.button {
    border-radius: 3vh;
    font-family: 'Playfair', serif;
    font-size: 1.5em;
    font-weight: bold;
    border: #FFFFFF solid ;
    width: 250px;
    height: 50px;
    transition: all 0.6s ease;
}

.button_main {
    background-color: #FFFFFF;
    color: #B05447;
    margin-bottom: 2vh;
}

.button_main:hover {
    background-color: #B05447;
    color: #FFFFFF;
    margin-bottom: 2vh;
}

.button_secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3vh;
    color: #FFFFFF;
}

.button_secondary:hover {
    background-color: #FFFFFF;
    border-radius: 3vh;
    color:#B05447;
}


.content {
    width: 90%;
    margin: auto;
}

.content_tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    background-color: aqua;
}

@media screen and (min-width: 1210px) {
    h1 {
        font-size: 4.5em;
    }
    .content {
        width: 1100px;
        margin: auto;
    }
}




